<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Inventory Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse show" id="navbarNav" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!-- MAIN LINKS -->
      <li class="navbar-nav" [routerLinkActive]="['active']">
        <a id="tmc" class="nav-link" routerLink="/inventory/tmc">TMC</a>
      </li>
      <li class="navbar-nav" [routerLinkActive]="['active']">
        <a id="zone" class="nav-link" routerLink="/inventory/zne">Zone</a>
      </li>
      <!-- ADD LINKS -->
      <li class="navbar-nav" *ngIf="currentRoute == '/inventory/tmc'">
        <a id="tmc" class="nav-link" routerLink="/inventory/tmc-edit">Add TMC</a>
      </li>
      <li class="navbar-nav" *ngIf="currentRoute == '/inventory/zne'">
        <a id="zone" class="nav-link" routerLink="/inventory/zne-edit">Add Zone</a>
      </li>
    </ul>
  </div>
</nav>