.zne {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 15px;
}

.card {
  max-width: 600px;
}

.card-header {
  text-align: center;
}

.right {
  float: right;
}

.mat-form-field-wrapper {
  width: 250px !important;
}

.label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: rgb(160, 156, 156);
}

.bottom {
  padding-bottom: 20px;
}

.add-icon {
  color: #1484ec;
}

a:hover {
  cursor: pointer;
}
