table {
  width: 100%;
}

.zne {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 55px;
}

.actions {
  margin-top: 15px;
  margin-left: 15px;
}

.mat-column-select {
  overflow: initial;
}

.pad-right {
  margin-right: 20px;
}

a:hover {
  cursor: pointer;
}
