table {
  width: 100%;
}

.tmc {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 6px;
}

.mat-column-select {
  overflow: initial;
}

.pad-right {
  margin-right: 20px;
}

.fa-play-circle {
  color:#00ff00;
}

.fa-pause-circle {
  color:yellow;
}

.fa-check-circle {
  color:#9cc2ff;
}

.fa-question-circle {
  color:#dedede;
}

a:hover{
  cursor: pointer;
}
